﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UserFiles.aspx.cs" Inherits="OfficeX.UserFiles" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    
    <asp:Panel ID="panelMain" runat="server" HorizontalAlign="Justify" >
    
    </asp:Panel>
</asp:Content>
