﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UserFolders.aspx.cs" Inherits="OfficeX.UserFolders" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <%@ Register TagPrefix="uc" TagName="ucUserFolder" Src="~/UserControls/ucUserFolder.ascx" %> 

    <uc:ucUserFolder runat="server" />
</asp:Content>
