﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucUserFolder.ascx.cs" Inherits="OfficeX.UserControls.ucUserFolder" %>
<div style="width: 10%; border: 2px solid" class="folder_files">
<asp:Label ID="Label1" runat="server" Width="100%"></asp:Label>
<asp:ListBox ID="lbFiles" Width="100%" runat="server" AutoPostBack="true" OnSelectedIndexChanged="lbFiles_SelectedIndexChanged"></asp:ListBox>
<asp:TextBox ID="tbFolderId" runat="server" Style="display: none;" /> 
</div>


